.input-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    grid-gap: 0.4vw;
    width: 30vw;
    padding-left: 35%;
    padding-top: 5%;
}

.label-text {
    justify-self: center;
}

.input-submit {
    justify-self: center;
    width: 100px;
}

.input-reset {
    justify-self: center;
    width: 100px;
}