.container {
    padding-left: 15%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.users-list {
    padding: 2vw;
    margin: 2px;
    border: 5px solid #aaa;
    width: 18vw;
    height: 15vw;
    overflow-y: scroll;
}